results/
.vscode/
plot_output/
__pycache__/
*.pyc
.venv/
data/*
!data/BenchmarkPC#1
!data/BenchmarkPC#2
!data/BenchmarkPC#3
!data/BenchmarkPC#4
!data/BenchmarkPC#5
!data/BenchmarkQuest#1
!data/BenchmarkQuest#2
!data/BenchmarkQuest#3
!data/BenchmarkQuest#4
!data/BenchmarkQuest#5
*.pcap